title{
	font-size:200%;
	font-family:Calbri;
	color:black;
}

body{
	color:black;
	font-family:Calbri;
	background-color:white;
}

@media(min-width: 1000px){
	.flex-1{
		border:10px grey solid;
		display:flex;
		justify-content:flex-center;
}

	.flex-2{
		border:10px grey;
		display:flex;
		justify-content:flex-start;
		flex-direction:column;
		display:inline-flex;
		padding-right:50px
	}
}

.flex-1{
	border:10px grey solid;
	display:flex;
	justify-content:flex-center;
	display:inline-flex;
	padding-right:50px;
	display:inline-flex;
	padding-right:50px
}

.flex-2{
	border:10px grey solid;
	display:flex;
	justify-content:flex-start;
	display:inline-flex;
	padding-right:50px;
	padding-left:20px;
}

.personal_info{
	font-size:70%;
	flex:1;
	border-right:5px grey solid;
	padding:5px;
}

.education{
	flex:1;
	border-right:5px grey solid;
	padding:5px;
}

.employment{
	flex:1;
	padding:5px;
}

h2{
	color:red;
	font-size:150%;
	font-family:Times New Roman;
}

a{
	font-size:150%
}

#employment{
	font-size:150%;
	text-decoration:underline;
	font-style:italic;
}

#interests{
	font-size:150%;
	color:black;
	text-decoration:underline;
	font-style:italic;
	text-decoration:bold;
}

#skills{
	font-size:150%;
	color:black;
	text-decoration:underline;
	font-style:italic;
	text-decoration:bold;
}

.Interests{
	font-size:110%;
	align-items:flex-start;
}

.Skills{
	font-size:110%;
	align-items:flex-start;
}

